*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
   height: 17vh;
  
}
#logo{
    align-content: center;
    margin-left: 40px;   
}
#logo  h1{
    color:rgb(56, 28, 7);
    font-size: 45px;
}
#menu a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
#menu{
    text-align: center;
    align-content: center;
    background-color: rgb(44, 22, 4);
    padding: 10px;
    width: 60%;
   
}
#menu a:hover{
    color:rgb(228, 175, 135);
}
#first{
    background-color: rgb(214, 149, 100);
    border: none;
    padding: 15px;
}
#second{
     background-color:red;
    border: none;
    padding: 10px;
}
span{
    color: rgb(247, 141, 60);
}
.container1{
font-family: 'Trebuchet MS';
position: relative;
left: 50px;
top: 50px;
width: 40%;
/* background-color: red; */
}
h2{
    font-size: 60px;
font-family: 'Trebuchet MS';
/* position: relative;
left: 50px; */
}
.parent{
    display: flex;
    width: 100%;

}
.container2 {
   width: 60%;
    height:80vh;
    /* background-color: blue;  */
}
img{
width:550px;
height: 650px;
position: relative;
    left: 120px;
}
.container1 button{
    background-color: rgb(44, 22, 4);
    border: none;
    padding: 20px;
    color: white;
    position: relative;
    left: 50px;
    top: 50px;
    margin: 10px;
}
.subparent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-top: 150px;

}
.sub{
    width: 260px;
    height: 270px;
    background-color: rgba(85, 59, 40, 0.63);

}
.parent2{
    background-color: rgb(56, 28, 7);
    height: 100vh;
}
#heading{
    color: white;
    font-size: 20px;
    font-family:Lucida Sans Unicode;
    margin-left: 50px;
}
.foot button{
    background-color: white;

}